:ruby
  page = params[:page] || 1

.div
  = form_with url: beverages_index_path, method: :get do |form|
    = form.text_field :query
    = form.submit 'Search'

  - if params[:query].blank?
    %p Enter your search query
  - elsif @beers.blank?
    %p No beers found
  - else
    - @beers.each do |beer|
      = link_to "#{beer['name']}, #{beer['abv']}%", beverages_show_path(id: beer['id'])
      %br

    = link_to 'Previous', beverages_index_path(query: params[:query], page: page.to_i - 1) if page.to_i > 1
    = link_to 'Next', beverages_index_path(query: params[:query], page: page.to_i + 1) if @beers.size == 10
